body {
    background-color: #2C2C2C;
    padding: 0 7px 2px 7px; 
    font-family: 'Roboto', sans-serif;
}



#des{
    background-color: #12124f;
    text-align: center;
    padding: 20px 20px 40px 20px;
    border-radius: 13px 13px 0 0;
    margin-top: 100px;
    height: 180px;
    font-size: 15px;
    color: white;
    margin: 120px -10px -10px -10px;
}
.game2{
    border-radius: 10% 20% 6% 3%;
    border: 0.5px solid white;
}
.game1{
    border-radius: 20% 10% 6% 3%;
    border: 0.5px solid white;
}

#wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#block{
    display: flex;
    flex-direction: column;
    align-items:center;
}
#btn{
    background-color: #336699;
    color:white;
    border-radius: 6px;
    font-size: 16px;
    width: 140px;
    height: 29px;
    font-weight: bold;
    border:none;
    margin-top: 25px;
    margin-bottom: 30px;
}

#btn:active{
    background-color: green;
}
#input{
    height: 22px;
    width: 150px;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
    margin-top: 32px;
    border: none;
    padding: 5px 5px 5px 10px;
}

.speedwrap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  

}

.speedwrap p{
    color:#d9adb5;

}
#sec, #text{
    margin-top: 75px;
}

